body{
    font-family: sans-serif;
    background-color: beige;

}
#calculator{
    font-size: 20px;
    margin-left: 40%;
    width: 285px;
    height: 240px;
    background-color: #ffd5ec;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 7px 10px rgba(0,0,0, .8);
}
h1{
    text-align: center;
    color: #333;
    padding-top: 50px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, .8);
}
#button1 ,#button2 ,#button3 ,#buttonplus ,#buttonmoins {
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .8);
}
#button4 ,#button5 ,#button6 ,#buttonstar ,#buttonslash {
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .8);
}
#button7 ,#button8 ,#button9 ,#button0 ,#buttonégale {
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .8);
}
#textbox{
    padding: 1px;
    border-top: 3px solid #777;
    border-radius: 6px 6px 0 0;
}